{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": "off"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  }
}
